body {
  background-color: rgb(83, 83, 83);
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#my-color-wheel-container {
  position: absolute;
  top:25%;
  left:25%;
  width:25vw;
  height:25vw;
  border-radius: 25%;
  border-width:1px;
  border-style:solid;
  border-color:white;
  overflow:hidden;
}
